body {
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #D9DBD6 10%);
}

/*------- GENERICS -------*/
i,
li {
    cursor: pointer;
}

/* ICON GENERIC */
.icon {
    height: 50px;
    border-radius: 50%;
}

/* HEADER GENERIC */
.header,
.footer {
    height: 10%;
    background-color: #EAEAEA;
}

/* STRUCTURE INITIAL */
.row {
    height: 95vh;
    width: 80vw;
    background-color: white;
}
main,
#nav-bar {
    height: 100%;
}



/* OPTIONS NAV NOTIFICATION */
.options-notifications {
    height: calc(10% + 10px);
    background-color: #8EDAFC;
}

.options-notifications i {
    padding: 8px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    color: #8EDAFC;
}


/* CONTACT LIST */
#contact {
    height: calc(75% - 20px);
    overflow-y: auto;
}

li.select {
    background-color: #EAEAEA;
}

/* CONTENT MAIN */
.content-main {
    height: 80%;
    background-image: url(../img/mine.jpg);
    /* overflow-y: auto; */
}

/* MESSAGE  */
.message-contact {
    background-color: #fff;
    width: 45%;
}

.message-io {
    background-color: #D5F9BA;
    width: 100%;
    margin-left: 55%;
}
.message .date p {
    font-size: 10px;
}



/* .prova{
    border: 1px dashed black;
} */